When Categorical encoding is used

when we have categorical data
1. its have two type

a) nominal encoding

b) ordinal encoding:- if we know some specific order eg:- UG>PG>SS>HS here we use ordinal encoding

c)Label Encoder :- This transformer should be used to encode target values i.e Y , and not the input X

In [23]:
import numpy as np
import pandas as pd

In [24]:
df = pd.read_csv('/content/customer.csv')

In below data 

gender is nominal data

education is ordinal data

purchased is nominal data

review is ordinal data

In [25]:
df.sample(5)

    age  gender   review education purchased
46   64  Female     Poor        PG        No
6    18    Male     Good    School        No
16   59    Male     Poor        UG       Yes
22   18  Female     Poor        PG       Yes
13   57  Female  Average    School        No

In [26]:
df = df.iloc[:,2:]

In [27]:
df.sample()

  review education purchased
9   Good        UG       Yes

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_train,X_test,y_train,y_test=train_test_split (df.drop('purchased', axis=1),df['purchased'],test_size=0.2)

#Ordinal Encoding

In [30]:
from sklearn.preprocessing import OrdinalEncoder

In [31]:
X_train.head(5)

     review education
3      Good        PG
43     Poor        PG
5   Average    School
0   Average    School
8   Average        UG

In [32]:
encoder= OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [33]:
encoder.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [34]:
X_train_encoder=encoder.transform(X_train)
X_test_encoder=encoder.transform(X_test)

In [35]:
X_train_encoder

array([[2., 2.],
       [0., 2.],
       [1., 0.],
       [1., 0.],
       [1., 1.],
       [2., 1.],
       [0., 2.],
       [1., 1.],
       [0., 0.],
       [0., 2.],
       [2., 0.],
       [2., 1.],
       [2., 1.],
       [2., 1.],
       [1., 1.],
       [1., 0.],
       [0., 2.],
       [2., 2.],
       [1., 0.],
       [0., 0.],
       [0., 1.],
       [0., 2.],
       [0., 0.],
       [2., 2.],
       [2., 2.],
       [1., 1.],
       [2., 0.],
       [2., 0.],
       [0., 0.],
       [1., 2.],
       [1., 0.],
       [2., 0.],
       [0., 1.],
       [2., 2.],
       [2., 0.],
       [2., 0.],
       [0., 2.],
       [0., 2.],
       [1., 2.],
       [0., 2.]])

##Label Encoding

In [36]:
from sklearn.preprocessing import LabelEncoder 

le = LabelEncoder()

le.fit(y_train)

LabelEncoder()

In [37]:
y_train_le=le.transform(y_train)
y_test_le=le.transform(y_test)

In [38]:
y_train_le

array([0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1])

In [39]:
y_train

3      No
43     No
5     Yes
0      No
8      No
36    Yes
45    Yes
44     No
7     Yes
27     No
38     No
49     No
10    Yes
48    Yes
4      No
13     No
46     No
33    Yes
20    Yes
35    Yes
1      No
26     No
31    Yes
42    Yes
47    Yes
29    Yes
40     No
23     No
12     No
24    Yes
34     No
6      No
15     No
2      No
18     No
25     No
39     No
22    Yes
37    Yes
14    Yes
Name: purchased, dtype: object

#OneHot Encoding

Dummy variable trap: after applying this we delete first column due to reason of multi-collinearity i.e if we have n column then we store (n-1)

In [42]:
car_df=pd.read_csv('/content/cars.csv')

In [45]:
car_df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [54]:
car_df['owner'].nunique()

5

In [ ]:
car_df['brand'].value_counts()

In [51]:
car_df['fuel'].unique().sum()

'DieselPetrolLPGCNG'

In [52]:
car_df['owner'].unique().sum()

'First OwnerSecond OwnerThird OwnerFourth & Above OwnerTest Drive Car'

In [57]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   brand          8128 non-null   object
 1   km_driven      8128 non-null   int64
 2   fuel           8128 non-null   object
 3   owner          8128 non-null   object
 4   selling_price  8128 non-null   int64
dtypes: int64(2), object(3)
memory usage: 317.6+ KB

##1. OneHot Encoding using pandas

In [60]:
pd.get_dummies(car_df, columns=['fuel','owner']).head()

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,0,1,0,0,1,0,0,0,0
1,Skoda,120000,370000,0,1,0,0,0,0,1,0,0
2,Honda,140000,158000,0,0,0,1,0,0,0,0,1
3,Hyundai,127000,225000,0,1,0,0,1,0,0,0,0
4,Maruti,120000,130000,0,0,0,1,1,0,0,0,0

(N-1) One hot Encoding:-In above we have not solve multi-colleranity

In [61]:
pd.get_dummies(car_df, columns=['fuel','owner'],drop_first=True).head()

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,1,0,0,0,0,0,0
1,Skoda,120000,370000,1,0,0,0,1,0,0
2,Honda,140000,158000,0,0,1,0,0,0,1
3,Hyundai,127000,225000,1,0,0,0,0,0,0
4,Maruti,120000,130000,0,0,1,0,0,0,0

In [62]:
from sklearn.model_selection import train_test_split

In [63]:
X_train,X_test,y_train,y_test=train_test_split (car_df.iloc[:,0:4],car_df.iloc[:,:-1],test_size=0.2,random_state=True)

In [64]:
X_train.head()

        brand  km_driven    fuel         owner
1939    Honda     100000  Diesel  Second Owner
5455   Maruti     120000  Diesel  Second Owner
7079  Renault     100000  Diesel  Second Owner
2000    Honda      80000  Petrol  Second Owner
1578    Honda      56494  Petrol   First Owner

In [65]:
from sklearn.preprocessing import OneHotEncoder

In [81]:
ohe = OneHotEncoder(drop='first',sparse=False,dtype=np.int32) #drop parameter is used for remove Dummy variable trap

In [82]:
X_train_new=ohe.fit_transform(X_train[['fuel','owner']])

In [83]:
X_test_new = ohe.transform(X_test[['fuel','owner']])

In [84]:
X_train_new.shape

(6502, 7)

In [71]:
X_train[['brand','km_driven']].values

array([['Honda', 100000],
       ['Maruti', 120000],
       ['Renault', 100000],
       ...,
       ['Hyundai', 70000],
       ['Maruti', 110000],
       ['Maruti', 65755]], dtype=object)

In [85]:
np.hstack((X_train[['brand','km_driven']].values,X_train_new))

array([['Honda', 100000, 1, ..., 1, 0, 0],
       ['Maruti', 120000, 1, ..., 1, 0, 0],
       ['Renault', 100000, 1, ..., 1, 0, 0],
       ...,
       ['Hyundai', 70000, 0, ..., 0, 0, 0],
       ['Maruti', 110000, 1, ..., 1, 0, 0],
       ['Maruti', 65755, 0, ..., 0, 0, 0]], dtype=object)

##OneHotEncoding with Top Categories

we are working with brand column it's contain 40 unique value

to handle the nominal data with more than 10 categories we do this approach

In [86]:
counts = car_df['brand'].value_counts()

In [88]:
car_df['brand'].nunique()
threshold=100

In [90]:
repl = counts[counts<=threshold].index

In [94]:
pd.get_dummies(car_df['brand'].replace(repl,'uncommon'))

,BMW,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,Tata,Toyota,Volkswagen,uncommon
0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,0,0,0,0,1,0,0,0,0,0,0,0,0
8124,0,0,0,0,1,0,0,0,0,0,0,0,0
8125,0,0,0,0,0,0,1,0,0,0,0,0,0
8126,0,0,0,0,0,0,0,0,0,1,0,0,0
8127,0,0,0,0,0,0,0,0,0,1,0,0,0