TMDB API : https://developers.themoviedb.org/
RapidAPI : https://rapidapi.com/collection/list-of-free-apis 
JSON Viewer: http://jsonviewer.stack.hu/

In [2]:
import pandas as pd
import requests

In [4]:
response=requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=f4a3c72b525eedcb38d212872863ff4a&language=en-US&page=1')

In [10]:
df=pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [11]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,89.969,8.7,21158
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,22.320,8.7,3560
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,84.100,8.7,15793
3,652837,"Josee, the Tiger and the Fish","With dreams of diving abroad, Tsuneo gets a jo...",2020-12-25,35.905,8.6,207
4,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-11-30,58.781,8.6,12616

#Doing the above process using loops

In [12]:
data = pd.DataFrame()

In [13]:
data

Empty DataFrame
Columns: []
Index: []

In [14]:
for i in range(1,493):
  response=requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=f4a3c72b525eedcb38d212872863ff4a&language=en-US&page={}'.format(i))
  temp_df=pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
  data=data.append(temp_df,ignore_index=True)

In [15]:
data.shape

(9840, 7)

In [16]:
data.to_csv('movies.csv')